body{
	background-image:url(images/bg.png);
}

.EXPLORE-THE-WORLD-OF{
	width: 44%;
	height: 10%;
	margin: 0% 30% ;
	
}

.EXPLORE-THE-WORLD-OF h3 {
	font-family: AvenirNext;
  	font-size: 37px;
  	font-weight: bold;
  	line-height: 1.19;
  	text-align: center;
  	color: #222222;
	margin-block-end: 10px;
}

.Taking-design{
	width: 44%;
	height: 10%;
	margin-left: 30%;
}

.Taking-design p {
	
	margin-block-start: 10px;
	display: flex;
	font-family: AvenirNext;
  	font-size: 19px;
  	font-weight: normal;
  	text-align: center;
  	color: #222222;
	
}

.View-Products{
	width: 28%;
	margin-left: 30%;
}

.View-Products h5{
	font-family: AvenirNext;
  	font-size: 18px;
 	 font-weight: bold;
 	 font-style: normal;
 	 font-stretch: normal;
 	 line-height: normal;
 	 letter-spacing: normal;
	  text-align: center;
 	 color: #1669c6;
	float: right;
}

.a{
	margin-left: 8px;
    float:right;
    width: 18px;
    height: 18px;
    background:#1669c6;
    border-radius: 20px / 20px;
}

.Related-Product-Carousel{
	width: 100%;
	margin-top: 7%;
}

.Rectangle{
	float: left;
	margin: 3% 0.5% 3% 1%;
	width: 23%;
	height: 410x;
	font-size: 40px;
	
	background-color: #ffffff;
}

#products-1 img{
	margin: 0%:
	max-width:100%;
	height:auto;
}

#products-1 p{
	margin:0% 8%;
	margin-block-end: 0.5em;
	margin-block-start: 0.5em;
	font-size: 15px;
	font-family: AvenirNext;
	font-weight: normal;
	text-align: center;
	color: #222222;
	
}

#products-1 h5{
	font-family: AvenirNext;
	font-size: 15px;
	text-align: center;
	color: #a3a3a3;
	margin-block-start: 0;
	margin-block-end: 1em;
	text-decoration: line-through;
}

#products-1 h6{
	font-family: AvenirNext;
	font-size: 15px;
	text-align: center;
	color: #1669c6;
	margin-block-start: 0em;
	margin-block-end: 2em;
}

#products-2 img{
	margin: 0;
	max-width:100%;
	height:auto;
}

#products-2 p{
	margin:0% 8%;
	margin-block-end: 0.5em;
	margin-block-start: 0.5em;
	font-size: 15px;
	font-family: AvenirNext;
	font-weight: normal;
	text-align: center;
	color: #222222;
	
}

#products-2 h6{
	font-family: AvenirNext;
	font-size: 15px;
	text-align: center;
	color: #black;
	margin-block-start: 0em;
	margin-block-end: 4.2em;
}

#products-3 img{
	margin: 0%:
	max-width:100%;
	height:auto;
}

#products-3 p{
	margin:0% 8%;
	margin-block-end: 0.5em;
	margin-block-start: 0.5em;
	font-size: 15px;
	font-family: AvenirNext;
	font-weight: normal;
	text-align: center;
	color: #222222;
	
}

#products-3 h5{
	font-family: AvenirNext;
	font-size: 15px;
	text-align: center;
	color: #a3a3a3;
	margin-block-start: 0;
	margin-block-end: 1em;
	text-decoration: line-through;
}

#products-3 h6{
	font-family: AvenirNext;
	font-size: 15px;
	text-align: center;
	color: #1669c6;
	margin-block-start: 0em;
	margin-block-end: 2em;
}

#products-4 img{
	margin: 0;
	max-width:100%;
	height:auto;
}

#products-4 p{
	margin:0% 8%;
	margin-block-end: 0.5em;
	margin-block-start: 0.5em;
	font-size: 15px;
	font-family: AvenirNext;
	font-weight: normal;
	text-align: center;
	color: #222222;
	
}

#products-4 h6{
	font-family: AvenirNext;
	font-size: 15px;
	text-align: center;
	color: #black;
	margin-block-start: 0em;
	margin-block-end: 4.2em;
}


