<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Manager_Employee::employee" title="Employee" module="Manager_Employee" sortOrder="51"
             resource="Manager_Employee::employee"/>
        <add id="Manager_Employee::post" title="Manage Posts" module="Manager_Employee" sortOrder="10"
             action="manager_employee/post" resource="Manager_Employee::post"
             parent="Manager_Employee::employee"/>
        <add id="Manager_Employee::employee_configuration" title="Configuration" module="Manager_Employee"
             sortOrder="99" parent="Manager_Employee::employee"
             action="adminhtml/system_config/edit/section/employee"
             resource="Manager_Employee::employee_configuration"/>
    </menu>
</config>
